<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    <link rel="stylesheet" href="/stylesheets/myReviews.css">
  <script src="/javascripts/myReviews.js" charset="utf-8"></script>
  <script src="https://kit.fontawesome.com/4cbe2a5007.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
  <title>Document</title>
</head>
<body>
  <%-include("header")%>
    <main>
      <div id="divLogout">
      <h2> Estas son tus reseñas:</h2>
      <a class="uk-button uk-button-default" href="/home/logOut" id="logout">Log-Out</a>
      </div>
      <ul class="uk-list uk-list-striped">
          <% for(i = 0; i < reviews.length; i++){ %>
              <li><a href="/home/detalle?id=<%=reviews[i].id_serie%>"> "<%=reviews[i].texto%>" </a> <p> Puntaje: <%=reviews[i].puntaje%> </p><a href="/home/editReview?id=<%=reviews[i].id_review%>" class="uk-icon-link uk-margin-small-right" id="editaryborrar" uk-icon="file-edit"></a>
                <a href="" uk-toggle="target: #modal-<%=reviews[i].id_review%>" id="js-modal-confirm" class="uk-icon-link " uk-icon="trash"></a></li>
  
          <%}%>
          <% for(i = 0; i < reviews.length; i++){ %>
            
              <div id="modal-<%=reviews[i].id_review%>" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <h2 class="uk-modal-title">Atencion</h2>
                    <p>Estas por borrar esta review. Quieres hacerlo?</p>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <a href="/home/deleteReview?id=<%=reviews[i].id_review%>"><button class="uk-button uk-button-primary" type="button">Borrar</button></a>
                    </p>
                </div>
        <%}%>
      </ul>
    </div>
  </main>
  <%-include("footer")%>
</body>
</html>